/* @override http://rxnix.com/fixed_field.css */

/* @override http://myparse.net/rxnix.com/fixed_field.css */

/* @override http://rxnix.com/fixed_field.css */

/* @override 
	http://www.rxnix.com/fixed_field_2.css
	http://rxnix.com/fixed_field_2.css
*/

legend{						
	position: relative; top: -4.2em;
	font-weight: bold;padding-left: 10px;border-left: solid maroon .5em;
	font-size: 1em;clear: Both;float: left;
}

html{font-family: Arial, san-serif;
}

#header{
	padding: 20px 0;
	height: auto;
}


#simple_form {
	width: 53.65em;
	margin-top: -4em;
	height: 1.5em;
}

#simple_form legend {
margin-top: 4.4em;margin-right: 2em;
}

#help em{
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

#header form.main_form {
margin-left: 7em;width: 60em;
}

#page {
	margin: 1em 2em ;
	width: 100%;
}

ul{
	list-style-type: none;margin: 0;padding: 0;

}

hr{height: 1px;border: dotted maroon 1px;
width: 63em;clear:both;}

label{
	font-size: .85em;
	white-space: nowrap;
}




#menu li{
	width: 150px;float: left;
	text-align: center;
}
	
	#help img{
	float: left;margin: 10px 10px 80px 10px;
}

#help ul li a {
	text-align:center; width: 100%;
}

img.bg_black {
	background-color: blue;
}

#header h1 {
	color: maroon;
	font-weight: bold;
	font-style: italic;
	font-size: 2.5em;
}

#content{

}

#content p.term_result {
	padding: .925em .5em;clear: both;
	text-align: center;
}

#simple_form a {
	padding-left: 4em;margin-top: .75em;
}



#content ul{

float: left;

}



#content ul li ul {
float: left;clear: right;
	min-height: 8.9em;
	border: solid maroon .1em;
	border-left: none;

}

.main_form fieldset{
	border: none;
	width: 10em;float: left;
}
.property{
	color: maroon;clear:both;
clear: both;
	font-weight: bold;
	font-size: 1.9em;
	padding: .75em 0 .25em 0;
	}

#content ul li.property {
	clear: both;width: 80em;
	border: none;
	
}

#content ul li {
	clear: both;float: left;

}
.property li{
	
}	


#header form.main_form fieldset ul {
float: left;margin-top: -3.75em;width: 8em;
}

#header form.main_form fieldset ul li {
	width: 15em;float: left;
}


div#led li,.record_select li,.record_name,.record_umlscui,.record_rxcui,.record_synonym{
	padding: .25em;

}

.record_rxcui{
	
	font-weight: bold;
	font-family: "Courier New", Courier, mono;
	padding: .4em .55em;margin: 0;
	border-bottom:solid maroon 1px;
	width: 92%;
	margin-bottom: .5em;
	letter-spacing: .14em;
}

#help {

	border-top: solid maroon .25em;
	float: left;
clear:both;

}

.record_umlscui {

	text-align: right;
	font-weight: bold;
float: right;
width: 90%;letter-spacing: .11em;
}



#content ul li ul li.record_name {margin: 0 .5em .25em ;
	clear: both;width: 10.8em;min-height: 3em;padding: 0;text-align: center;
	letter-spacing: .09em;
}


.record_synonym{
	font-style: italic;
	font-size: .85em;
line-height: .99em;
width: 11em;
}


#help ul li {
	width: 45%;float: left;
padding: 1.5em;
}

#stats {
	display:none;
}

#led {
clear: both;float: left;
	text-align:center;
	width: 100%;
}

#led ul {
	border: none;width: 6em;
}