/* @override http://myparse.net/git/rxNormRef_php/public/css/fixed_field.css */


html{
	font-family: Arial, san-serif;
}

#header{

	height: auto;
}

#header a{
	font-size: 1em;float: right;
	margin-top: .2em;margin-right: 1em;
}
a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


#help em{
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

#page {
	margin: 1em auto ;
	width: 60em;
}

ul{
	list-style-type: none;margin: 0;padding: 0;

}

#content ul li ul.SCDC li ul li.uml {
text-align: right;float: left;	
}


	
img.bg_black{
	background-color: blue;
}

#content{
	width: 60em;
	float: left;border-bottom: solid maroon 4px;
}

#content p.term_result {
	border-top: solid maroon .25em;
	padding: .925em .5em;text-align:center;margin: 0;
}



#content ul li ul li ul {
width: 28.5em;float: left;clear: none;
margin: .45em .5em;
}

.property{
	clear: both;
	color: maroon;
	font-weight: bold;
	text-align: left;
	font-size: 1.9em;
	padding: .75em 0 .25em 0;
	border: none;
	}

#content ul li.umlscui{
	clear: both;width: 100%;
	text-align: right;
	margin: 1em;
}

#content ul li ul.SCDC li ul li.uml {
	text-align: right;margin: .45em 0em;
}

.record_rxcui{
	font-weight: bold;
	font-family: "Courier New", Courier, mono;
	padding: .4em .55em;margin: 0;
	width: 18.05em;
	margin-bottom: .5em;
	letter-spacing: .14em;background-color: lightgray;
	z-index: -2;
}

.record_umlscui {
	font-weight: bold;
	float: right;
	text-align: right;
	width: 18.15em;
	padding:  .3em .5em;
	letter-spacing: .11em;
	margin-top: .75em;
	background-color: gray;
}

.record_umlscui a{
	color: white;
}

#help {
	width: 60em;
	border-top: solid maroon .25em;
	float: left;

}

#help ul li {
	width: 45%;float: left;
padding: 1.5em;
}

#help img{
	float: left;margin: 10px 10px 80px 10px;
}

#help ul li a{
	text-align:center; width: 100%;
}

#stats {
	display:none;
}

#content ul li ul.BPCK li,#content ul li ul.GPCK li{
	width: 58em;
}

#content ul.rxterms {
clear: Both;	
}

