/* @override http://myparse.net/git/rxNormRef_php/public/css/ndf.css */

/* @override http://myparse.net/sb7/public//css/ndf.css */

/* @override http://myparse.net/sb7/public/css/ndf.css */

#ndf_content ul li p {
	float: left; width: 90%;
	margin: .85em 3em;
}


#ndf_content ul li ul li h4 {
	clear: both;
}

#ndf_content ul.ndf_codes li {
	float: left;width: 24%;padding:   .8em .2em;
	border-top: solid maroon .1em;
	text-align: center;
	
}

#ndf_content ul li ul li h4 {
	border: none; font-size: .95em; margin: 0;padding: 0;color: black;
}


#ndf_content ul.ndf_codes li em {
	font-style: normal;
	font-weight: bold;
}

#ndf_content ul {
	width:100%;
}

#ndf_content ul li h3 {
color: maroon;
clear: both;
border-bottom:solid .1em black;
margin:0;
margin-bottom: .5em;
margin-top: .75em;
}

#ndf_content ul li h2 {
	text-align: center;margin-top: 2em;
}

html{background-color:maroon;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#page{width:58em;margin:auto;background-color:white;
}

#header img{
	display:none;
}

#header{padding: 0;	margin-top: 1em;
float: left;
	height: 13em;
   width:100%;
	background: url(http://myparse.net/sb5/public/img/new_logo.gif) no-repeat;
background-color:white;padding:.39em;
}

#header h1{
	color: maroon;
	font-weight: bold;
	font-size: 2.5em;float: right;margin-right:.5em; margin-top: 2em;
}

#header a{
float: right;clear:both; margin-right:1em;
}



a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#id_types a{
	padding: .5em 0;
	float:left;
}

#help em{
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}


ul{
	list-style-type: none;margin: 0;padding: 0;float: left;
}


	
img.bg_black{
	background-color: blue;
}

#ndf_content{background-color:white;
	padding: 0 .59em;
	float: left;
	clear: Both;padding-bottom:1em;width: 57.65em;
}

.int_name {
color: red;padding-bottom: .5em;float: left;margin-bottom: .75em;
width: 100%;border-bottom: dashed .1em;
}

#help {padding:.5em;
	background-color: ;
	float: left;width:100%;text-align:center;
color:white;font-size:.95em;
min-width:60em;padding-top: 1em;
}


#help a{
color:white;
}

#help ul{

text-align: center;
min-width:60em;

}

#help ul li {
       width: 60em; margin: auto;
	
}

#help p {color: white;
	margin: .25em;
}


#help img{
margin:0 11%;
text-align:center;
}


#stats {
	
}

.ndf_menu a:hover{
	color: black;
}

#ndf_content ul.ndf_menu {border-top: solid maroon .2em; border-bottom: solid maroon .2em;padding-top: .45em;
	float: left; margin-top: -1.5em;margin-bottom: 0;
}

.ndf_menu li{
	float: left;width: 18em;text-align:center;
	font-weight: bold;padding: .5em 0;
}

.ndf_menu a{
	margin: 0;
}

#ndf_content ul li ul li ul li {
	width: 18.5em;float: left;padding: .25em;text-align:center;
}

#ndf_content ul li ul li h4 {
	padding: .55em 0;
}

