/* @override http://myparse.net/sb6/public/css/ndf.css */

/* @override http://www.myparse.net/sb5/public/css/ndf.css */

/* @override http://www.myparse.net/sb5/public/css/ndf.css */

/* @override http://rxnix.com/rxNormRef_php/public/css/ndf.css */

/* @override http://myparse.net/sb5/public/css/ndf.css */

/* @override 
	http://myparse.net/sb5/public/css/ndf.css
	http://myparse.net/sb4/rxNormRef_php/public/css/ndf.css

*/

#ndf_content ul li.d_int_comment ul {
width: 50em;clear: both;
padding: 1em;
margin: 1em 0;

}



#ndf_content ul li.interacting_drug ul {
border: none;}

#ndf_content ul li.interacting_drug ul li.nui {
	border: none; width: auto;float: left;
}

va_status,vandf_record{
padding: .25em;
}



html{
	font-family: Arial, san-serif;
}

#header img{
	
	display:none;
}

#header{padding: 0;	width: 100%;
float: left;
	height: 13em;
	background: url(http://myparse.net/sb5/public/img/new_logo.gif) no-repeat;
}

#header h1{
	color: maroon;
	font-weight: bold;
	font-style: italic;
	font-size: 2.5em;float: right;
}

#header a{
float: right;clear:both;
}

#ndf_content ul li.pname {
width: 45em;font-size: 1.3em;
}

li.gRole{
width: 45em;
text-align: center;
}

#ndf_content ul li.cname {
width: 12em;margin-left: 2em;

}

#header form.main_form fieldset ul {
	float: left;margin-top: -3.75em;width: 8em;
}

#header form.main_form fieldset ul li {
	width: 15em;float: left;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#id_types a{
	padding: .5em 0;
	float:left;
}

#simple_form a {
	padding-left: 4em;
	margin-top: .75em;
}

#help em{
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

#header form.main_form{
font-size: 1.3em;
margin-left: 15em;
margin-top: 4em;
}

#header form.main_form fieldset legend {
	margin-left: -3.14em;
	padding: 0 1em;
	color: maroon;
float: left;
}

#header form.main_form fieldset input {
	margin: 0 1em;
}

#header form.main_form fieldset label {
	font-size: .80em;
}




fieldset#nui{
}

fieldset#nui_opt{
	width: 27em;
}

fieldset#nui_opt,fieldset#nui,#header form.main_form fieldset {
	border: none;
	
}

fieldset#scope {margin: 0;padding: 0;
width: 18em;float: left;margin-left: .25em;}

fieldset#scope label,fieldset#scope input#scope_1{
padding: .25em .25em;
	position: relative;
	top: .25em;
}

#scope legend,#nui_opt legend{
clear: left;
float: left;border-right: solid maroon .24em;margin: .25em 0;
padding-right: 1.25em;
margin-right: 1.25em;
}




#page {
	margin: 1em auto ;
	width: 60em;
}

ul{
	list-style-type: none;margin: 0;padding: 0;
}

#nui fieldset {
	border: none;width: 58em;
}

#nui label {	padding-left: .45em;
	margin-bottom: -2.55em;
}


	
img.bg_black{
	background-color: blue;
}


#ndf_content{
	width: 100%;
	float: left;
	clear: Both;
	padding-bottom: 2em;
}



#ndf_content ul li ul {

	float: left; margin: .25em;padding-left: .25em;

}

#ndf_content ul ul ul ul ul ul ul li ul {
	margin: 0 1.35em;
}

#ndf_content ul ul ul ul ul ul ul li ul {
border: none;
float: left;min-height
}


#ndf_content ul li {
float: left;
	margin: .0 .50em;
}

#ndf_content ul p {
margin: 1.1em;
}

#ndf_content ul li.groupPropName{
	width: 42.75em;
	clear:both;
	margin-top: 1em;
	color: maroon;
	style:bold;
	font-size: 1.4em;
	letter-spacing:.1em;
}

.groupPropName h2 {
	margin-top: 0em;	
}

#ndf_content ul ul ul ul ul li.DRUG_KIND {
	float: right;
}



#ndf_content ul li.DRUG_KIND ul {
	padding: .5em;
	margin:  .35em;

	font-weight: bold;
	font-size: 1.2em;
}





#ndf_content ul li ul.gProperty li.gValue {
	margin-top: .7em;width: 14.5em;
	font-size: 1.2em;clear: both;
}


 li.mesh_definition {
	width: 27.7em;
	text-align: left;
	line-height: 1.55em;float:right;
}

li.group_t{
	width: 13.76em;
	padding: .05em 0;
border-bottom: solid gray .25em;
	color: maroon;
	font-weight: bold;
	font-size: 1.2em;
text-align:left;
border-right: solid gray .25em;
}




#ndf_content ul li.MECHANISM_OF_ACTION_KIND,#ndf_content ul li.PHYSIOLOGIC_EFFECT_KIND,#ndf_content ul li.DISEASE_KIND,#ndf_content ul li.INGREDIENT_KIND {
	min-height: 2.5em;
	
	text-align: center;
	
}



li.propertyValue {width: 7em;
	border-right: solid .25em maroon;padding: 0 .48em;text-align: right;
	font-style: bold;color: maroon;
}

va_file,va_ien {
	clear: both;float: left;
	display: none;
}

#ndf_content ul li ul li ul li {
	width: auto;
}

#ndf_content ul li ul li ul li.propertyValue {
	width: 8em;
	text-align: center;color: maroon;
}

#ndf_content li.nui {
	border-top: solid maroon 2px;
	width: 98%;
	color: orangered;float: right;
	padding-top: .25em;
	text-align: right;
}


#ndf_content .gProperty{border: none;
width: 18.0em;
float: left;
min-height: 5em;
margin: .15em .35em;
}

#ndf_content ul li.gProperty strong {
	width: 17.5em;margin-bottom: .5em;
	float: left;
}

#ndf_content ul li.conceptName {
	
	margin: 0 .55em;
	font-weight: bold;
}



.a_title {font-size: 1.5em;padding: .8em 0 1.3em 0  ;
	clear: both;
	float: left;width: 100%;
	margin-bottom: 4.44em;

	text-align: left; color: maroon;
}





.property{
	clear: both;
	color: maroon;
	float: left;
	width: 31.6em;
	font-weight: bold;
	text-align: left;
	font-size: 1.9em;
	padding: .75em 0 .25em 0;
	border: none;
	}

.record_rxcui{
	font-weight: bold;
	font-family: "Courier New", Courier, mono;
	padding: .4em .55em;margin: 0;
	width: 18.05em;
	margin-bottom: .5em;
	letter-spacing: .14em;background-color: lightgray;
	z-index: -2;
}

.record_umlscui {
	font-weight: bold;
	float: right;
	text-align: right;
	width: 18.15em;
	padding:  .3em .5em;
	letter-spacing: .11em;
	margin-top: .75em;
	background-color: gray;
}

.record_umlscui a{
	color: white;
}

.record_name {
	clear: both;min-height: 3em;padding: .45em;text-align: right;
	letter-spacing: .09em;width: 18.3em;
	font-weight: bold;
}


.record_synonym{
	font-size: .98em;
	line-height: .99em;
	text-align: center;
	width: 18.8em;
	padding: .4em;
	font-style: italic;
}

#help {
	width: 60em;
	border-top: solid maroon .25em;
	float: left;

}

#help ul li {
	width: 45%;float: left;
padding: 1.5em;
}

#help img{
	float: left;margin: 10px 10px 80px 10px;
}

#help ul li a{
	text-align:center; width: 100%;
}

#stats {
	display:none;
}

#led {display: none;
	height: 1.5em;
width: auto;
}

#led ul {
	border: none;width: 6em;
}

.ndf_menu a:hover{
	color: black;
}

#ndf_content ul.ndf_menu {border-top: solid maroon .2em; border-bottom: solid maroon .2em;padding-top: .45em;
	float: left;margin-top: -.9em;
}


.ndf_menu li{
	float: left;width: 14em;height: 2.5em;text-align:center;
	font-weight: bold;
	letter-spacing: .1em;
}

.ndf_menu a{
	margin: 0;
}


